.fileSearchDashlet .fileSearchInput {
    float: left;
    margin: 2px;
    resize: both;
    overflow: auto;
}

.fileSearchDashlet.fileSearchResult a:hover {
    text-decoration: underline;
}

.fileSearchDashlet .fileSearchResult li {
    padding: 5px;
    padding-left: 15px
}